@font-face {
  font-family: "RobotoSlab Bold";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoSlab Bold"), local("RobotoSlab-Bold"),
    url("../fonts/RobotoSlab-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "RobotoSlab Regular";
  font-style: normal;
  font-weight: 400;
  src: local("RobotoSlab Regular"), local("RobotoSlab-Regular"),
    url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Bazar Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Bazar Regular"), local("Bazar-Regular"),
    url("../fonts/Bazar.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Regular"), local("Oswald-Regular"),
    url("../fonts/Oswald-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Oswald Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Oswald Bold"), local("Oswald-Bold"),
    url("../fonts/Oswald-Bold.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
html,
body {
  min-width: 1920px;
  min-height: 100%;
}

html {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "RobotoSlab Regular", Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
  color: #383a3c;
  background-color: #f9ebd9;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.main-title {
  margin-top: 0;
  font-family: "Bazar Regular", Arial, sans-serif;
  font-size: 180px;
  line-height: 195px;
  text-align: center;
  color: #393a3a;
  text-transform: uppercase;
  text-shadow: 3px 3px 1px #fcfaf7, 8px 7px 3px #484a4d;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  font-family: "Bazar Regular", Arial, sans-serif;
  font-size: 54px;
  color: #f9ebd9;
  outline: 3px dashed rgba(255, 255, 255, 0.75);
  border-bottom: 2px dashed #777879;
  background-color: #76b9b9;
}

.main-navigation-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.container {
  width: 1920px;
  margin: 0 auto;
}

.header-wrapper {
  padding-bottom: 20px;
  background-color: #76b9b9;
  box-shadow: 0px 0px 0px 3px #b6b2a5;
}

.main-header:after {
  content: " ";
  width: 100%;
  height: 2px;
  display: block;
  position: absolute;
  top: 290px;
  left: 0;
  z-index: 0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.main-header-logo {
  position: absolute;
  padding-top: 15px;
  order: 2;
  width: 304px;
  height: 303px;
  z-index: 1;
}

.main-navigation-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 1920px;
  margin: 0;
  padding: 0;
  line-height: 240px;
  list-style: none;
}

.main-navigation-menu a {
  color: #f9ebd9;
  text-transform: uppercase;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.main-navigation-menu li:nth-child(1) {
  margin-right: 80px;
}

.main-navigation-menu li:nth-child(4) {
  margin-left: 80px;
}

.main-navigation-menu li:nth-child(2) {
  margin-right: 180px;
}

.main-navigation-menu li:nth-child(3) {
  margin-left: 180px;
}

.main-navigation-menu a:hover,
.main-navigation-menu a:active {
  padding-bottom: 4px;
  border-bottom: 5px solid #f9ebd9;
  text-decoration: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.main-logo {
  padding-top: 55px;
}

.main-logo img {
  margin-bottom: 70px;
}

.main-text {
  margin-top: 0;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 50px;
  line-height: 22px;
  font-family: "Bazar Regular", Arial, sans-serif;
  font-size: 44px;
  color: #4b4e4c;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.8);
  background-image: url(../img/main-header.png);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.slider {
  line-height: 22px;
  background-color: #76b9b9;
  outline: 3px dashed rgba(255, 255, 255, 0.75);
  border-top: 2px dashed #777879;
  border-bottom: 2px dashed #777879;
  text-align: center;
}

.slider-photos {
  position: relative;
  margin-bottom: 85px;
}

.slider-photos img {
  border-top: 20px solid #fbfaf6;
  border-left: 20px solid #fbfaf6;
  border-right: 20px solid #fbfaf6;
  border-bottom: 96px solid #fbfaf6;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}

.slider-text {
  position: absolute;
  bottom: -4%;
  left: 44%;
  padding-top: 20px;
  padding-bottom: 30px;
  color: #383a3c;
  line-height: 22px;
  font-size: 44px;
  font-family: "Bazar Regular", Arial, sans-serif;
  text-transform: uppercase;
}

.slider-caption {
  margin-top: 0;
  font-family: "Bazar Regular", Arial, sans-serif;
  font-size: 64px;
  color: #f7ebd8;
  text-transform: uppercase;
}

.slider-slogan {
  padding-bottom: 90px;
  font-size: 53px;
}

.article-wrapper-about {
  margin-top: 20px;
  margin-bottom: 20px;
  outline: 3px dashed rgba(255, 255, 255, 0.75);
  border-top: 2px dashed #777879;
  border-bottom: 2px dashed #777879;
}

.about-me-heading {
  margin-top: 0;
  margin-bottom: 60px;
  padding-top: 80px;
}

.about-me-text {
  margin-bottom: 80px;
  font-family: "Oswald Regular", Arial, sans-serif;
  font-size: 32px;
  line-height: 22px;
  color: #38353e;
  text-align: center;
  text-transform: uppercase;
}

.about-me-features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 130px;
  margin: 0;
  list-style: none;
}

.about-me-features-item {
  width: 414px;
  padding-right: 15px;
}

.about-me-features-name a {
  padding-bottom: 4px;
  color: #383a3c;
  text-decoration: none;
}

.about-me-features-name a:hover {
  border-bottom: 4px solid #383a3c;
  text-decoration: none;
}

.about-me-features-item img {
  display: block;
  margin: 0 auto 37px;
  background-color: #d45244;
  box-shadow: 0px 0px 0px 2px #d45244;
  border-radius: 50%;
}

.about-me-features-name,
.about-me-features-description {
  text-align: center;
  text-transform: uppercase;
  line-height: 54px;
}

.about-me-features-name {
  margin-top: 0;
  margin-bottom: 37px;
  font-family: "Bazar Regular", Arial, sans-serif;
  font-size: 54px;
}

.about-me-features-description {
  margin-top: 0;
  margin-bottom: 75px;
  font-family: "RobotoSlab Bold", Arial, sans-serif;
  font-size: 28px;
}

.article-wrapper-portfolio {
  background: #e48b6a;
  box-shadow: 0px 0px 0px 2px #b77156;
  outline: 3px dashed rgba(255, 255, 255, 0.75);
  border-bottom: 2px dashed #777879;
}

.portfolio {
  background-color: #e48b6a;
}

.portfolio .main-title {
  padding-top: 100px;
  margin-bottom: 70px;
}

.portfolio-description {
  margin-top: 0;
  margin-bottom: 80px;
  line-height: 22px;
  text-align: center;
  font-family: "Oswald Regular", Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  line-height: 22px;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  list-style: none;
}

.filter-header {
  display: block;
  font-family: "RobotoSlab Regular", Arial, sans-serif;
  font-size: 32px;
}

.filter-option label {
  display: block;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px 30px 20px 50px;
  font-family: "RobotoSlab Bold", Arial, sans-serif;
  font-size: 24px;
  background-color: #fbfaf6;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

.gallery {
  padding: 0;
  list-style: none;
}

.gallery .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 35px;
}

.row:last-of-type {
  position: relative;
  margin-bottom: 90px;
}

.row:last-of-type:after {
  position: absolute;
  content: "";
  top: 548px;
  width: 80px;
  height: 5px;
  background-color: #383a3c;
}

.gallery-item {
  background-color: #fbfaf6;
  text-align: center;
  border-radius: 6px;
  border: 12px solid #fbfaf6;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.gallery-item img {
  display: block;
  margin: 0 auto;
}

.gallery-item a {
  position: relative;
  display: block;
  padding-top: 70px;
  padding-bottom: 30px;
  font-family: "RobotoSlab Bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 22px;
  color: #383a3c;
  text-transform: uppercase;
}

.gallery-item a:before {
  position: absolute;
  left: 165px;
  top: -25px;
  content: "";
  width: 90px;
  height: 90px;
  background-image: url(../img/gallery-item-pic.svg);
  background-repeat: no-repeat;
  background-size: 47px 47px;
  background-position: 9px 9px;
  background-color: #fbfaf6;
  border-radius: 50%;
  border: 12px solid #fbfaf6;
}

.show-all-link {
  display: block;
  font-family: "Oswald Bold", Arial, sans-serif;
  font-size: 28px;
  line-height: 22px;
  color: #38353e;
  text-align: center;
  text-transform: uppercase;
}

.show-all-link:hover,
.show-all-link:focus {
  text-decoration: underline;
}

.browse-all-link {
  padding-top: 20px;
  padding-bottom: 110px;
}

.article-wrapper-blog {
  background-color: #dbd8d6;
  outline: 3px dashed rgba(255, 255, 255, 0.75);
  border-top: 2px dashed #777879;
  border-bottom: 2px dashed #777879;
}

.blog {
  background-color: #dbd8d6;
}

.blog-title {
  padding-top: 105px;
  margin-bottom: 70px;
}

.blog-post {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 70px;
}

.blog-post:last-of-type:after {
  position: absolute;
  content: "";
  top: 505px;
  width: 110px;
  height: 5px;
  background-color: #383a3c;
}

.post-wrapper {
  width: 1280px;
}

.date-wrapper * {
  display: block;
}

.date-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 35px;
}

.date-wrapper:after {
  position: absolute;
  content: "";
  top: 60px;
  left: 0;
  width: 85px;
  height: 5px;
  background-color: #383a3c;
}

.blog-post img {
  display: block;
  border: 8px solid #fbfaf6;
  border-radius: 6px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
}

.blog-description {
  font-family: "Oswald Regular", Arial, sans-serif;
  font-size: 32px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.blog-post-title {
  font-family: "RobotoSlab Bold", Arial, sans-serif;
  font-size: 48px;
  line-height: 22px;
  text-transform: capitalize;
}

.blog-post-title a {
  color: #383a3c;
}

.blog-post a:hover,
.blog-post a:focus {
  text-decoration: underline;
}

.blog-post-details {
  font-family: "Oswald Bold", Arial, sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}

.blog-post-response {
  margin-left: auto;
}

.blog-post-content,
.more-link {
  font-size: 32px;
  line-height: 57px;
}

.blog-post-content {
  font-family: "RobotoSlab Regular", Arial, sans-serif;
}

.more-link {
  font-family: "RobotoSlab Bold", Arial, sans-serif;
  text-transform: uppercase;
  color: #383a3c;
}

.more-link:hover,
.more-link:focus {
  text-decoration: underline;
}

.posts-link {
  display: block;
  padding-bottom: 120px;
}

.contact,
.footer-main {
  color: #f6edd8;
  background-color: #4b4f56;
}

.contact-title {
  margin: 0;
  padding-top: 110px;
  padding-bottom: 70px;
  color: #f6edd8;
  text-shadow: 3px 3px 1px #484a4d, 6px 5px 1px #d4cebf;
}

.contact-text {
  display: block;
  padding-bottom: 70px;
  font-size: 32px;
  line-height: 22px;
  font-family: "Oswald Regular", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  min-width: 960px;
  text-align: center;
}

.btn-send {
  width: 290px;
  margin-left: 480px;
  margin-bottom: 80px;
  padding: 25px 35px;
  font-family: "RobotoSlab Bold", Arial, sans-serif;
  line-height: 22px;
  color: #383a3c;
  font-size: 32px;
  vertical-align: middle;
  text-transform: capitalize;
  background-color: #fcfaf7;
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.2);
}

.btn-send:hover,
.btn-send:active,
.btn-send:focus {
  background-color: #dbd6ce;
}

.form-field-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-field-item input,
.form-field-item textarea {
  min-width: 960px;
  padding-left: 22px;
  padding-top: 28px;
  padding-bottom: 28px;
  font-size: 32px;
  color: #a9a9a9;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 3px;
}

.form-field-item textarea {
  min-height: 326px;
  resize: vertical;
}
.form-field-item input:focus,
.form-field-item textarea:focus {
  color: #000;
  border-color: #4ce0e0;
}

.footer-social {
  display: block;
  font-size: 48px;
  line-height: 22px;
  text-align: center;
  font-family: "Bazar Regular", Arial, sans-serif;
  text-transform: uppercase;
}

.footer-social b {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
  text-align: center;
}

.footer-social b:after {
  position: absolute;
  content: '';
  width: 80px;
  height: 4px;
  top: 60px;
  background-color: #f6edd8;
}

.footer-social ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
